/* Main page styling */

.mainContainer {
  background-color: #e44644;
  background-image: url(assets/img/background/grape.gif);
  background-repeat: repeat;
  background-size: 50px 50px;
  /*background-blend-mode: difference;*/
  image-rendering: smooth;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.beeesMainContainer {
  background-color: #e44644;
  background-image: url(/assets/img/gifs/bees.gif);
  background-repeat: repeat;
  background-size: 100px 100px;
  /*background-blend-mode: difference;*/
  image-rendering: smooth;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
ol{margin:0;padding:0}table td,table th{padding:0}.c5{color:#0000ff;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Courier New";font-style:normal}.c2{color:#0000ff;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Courier New";font-style:normal}.c12{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:normal}.c3{-webkit-text-decoration-skip:none;color:#0000ff;font-weight:400;text-decoration:underline;text-decoration-skip-ink:none;font-family:"Courier New"}.c0{padding-top:0pt;padding-bottom:0pt;line-height:1.15;text-align:left}.c10{text-decoration:none;vertical-align:baseline;font-size:11pt;font-style:italic}.c6{padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:left}.c13{background-color:#ffffff;max-width:576pt;padding:18pt 18pt 18pt 18pt}.c9{font-family:"Courier New";color:#0000ff;font-weight:700}.c7{font-family:"Courier New";color:#0000ff;font-weight:400}.c4{color:inherit;text-decoration:inherit}.c1{orphans:2;widows:2}.c8{height:11pt}.c11{font-style:italic}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}

/* glyphs and buttons*/

.button {
  width: 178px;
  height: 48px;
}

.glyph {
  width: 96px;
  height: 96px; 
  display: flex;
  align-items: center;
  justify-content: center;   
}

.buttonIcon {
  width: 100%;
  transform: rotate3d(0, 1, 0, 0deg);
  transition: 0.5s;
}

.glyphIcon {
  width: 100%;
  transform: rotate3d(0, 1, 0, 0deg);
  transition: 0.5s;
}

.button:hover {
  cursor: pointer;
}

.glyph:hover {
  cursor: pointer;
}

.button:hover .buttonIcon {
  transform: rotate3d(0, 1, 0, 180deg);
}

.glyph:hover .glyphIcon {
  transform: rotate3d(0, 1, 0, 180deg);
}

/* Header and navigation */

.nav {
  /*border: 5px outset yellowgreen;*/
  background-color: black;
  background-image: url(assets/img/background/wood.gif);
  background-repeat: repeat;
  position: fixed;
  left: 2;
  right: 2;
  top: 32px;
  width: 100%;
}

.beesNav {
  border: 5px outset yellowgreen;
  background-color: black;
  background-image: url(assets/img/background/grape.gif);
  background-repeat: repeat;
  position: fixed;
  left: 0;
  top: 32px;
  width: 100%;
}

.button--info {
  display: inline-block;
  margin: 8px;
  border: 1px solid lime;
  color: lime;
  background-color: black;   
  text-align: center; 
}

.button--resume {
  display: inline-block;
  margin: 8px;
  border: 1px solid lime;
  color: lime;
  background-color: black;   
  text-align: center; 
}

.button--portal {
  display: inline-block;
  margin: 8px;
  border: 1px solid lime;
  color: lime;
  background-color: black;   
  text-align: center; 
}

.back {
  display: inline-block;
  margin: 8px;
  border: 1px solid lime;
  color: lime;
  background-color: black;   
  text-align: center; 
}

.button--hausaufgabeInfo {
  display: inline-block;
  margin: 8px;
  border: 1px solid lime;
  color: lime;
  background-color: black;   
  text-align: center; 
}

.glyph--uploadIThought {
  display: inline-block;
  margin: 8px;
}

.glyph--uploadIIThoughts {
  display: inline-block;
  margin: 8px;
}

/* moss composites glyphs*/

.glyph--mossComposites {
  display: inline-block;
  margin: 8px;
}

.glyph--dancingTriangle {
  display: inline-block;
  margin: 8px;
}

.glyph--marchComp3-6 {
  display: inline-block;
  margin: 8px;
}

.glyph--marchComp3-8 {
  display: inline-block;
  margin: 8px;
}

.glyph--marchComp3-18 {
  display: inline-block;
  margin: 8px;
}

.glyph--marchComp3-31 {
  display: inline-block;
  margin: 8px;
}

.glyph--mossComposite {
  display: inline-block;
  margin: 8px;
}

/* photon playground glyph */

.glyph--photonPlayground {
  display: inline-block;
  margin: 8px;
}

.glyph--beees {
  display: inline-block;
  margin: 8px;
}

.glyph--hausaufgabe {
  display: inline-block;
  margin: 8px;
}

.glyph--fortytwo {
  display: inline-block;
  margin: 8px;
}

.glyph--portalFinder {
  display: inline-block;
  margin: 8px;
}

/* land buoy containers */

.landbuoyContainers{
  image-rendering: smooth;
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  justify-content: end;
}
.landbuoy{
  border: 1px solid lime;
  height: 120px;
  width: 100%;
  padding: 5px;
  margin: 5px;
  display:inline-block;
  justify-content: center;
}

.landbuoyProjects{
  background: blue;
}

.bandcampLinks{
  background: blue;
}

.friendsLinks{
  background: orange;
}

.mossComposites{
  background: blue;
}

.beees{
  background: blue;
}

.label{
  border: 1px solid lime;
  color: lime;
  background-color: black; 
  justify-content: end;  
  text-align: center; 
  position: absolute;
  display: inline-flex;
}


/* Channel selection toggles */

.logoContainer {
  display: inline-block;
  align-items: center;
  /*border: 5px outset yellowgreen;*/
  transition: opacity 1s;
  opacity: 1;
  color: #f44644;
  font-size: 50px;
  font-style: italic;
  font-stretch: ultra-expanded;
  font-weight: bold;
  font-family: "MingLiU", serif;
}

.logoContainer__inner {
  /*border: 5px outset blue;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8px;
}

/* Modal styling */

.modalContainer {
  position: fixed;
  min-width: 400px;
  max-width: 10000px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}

.modalContainer:hover {
  cursor: move;
}

.modalContainer[style*="display: block"] {
  display: flex !important;
}

.modalContainer--resume {
  display: none;
  top: 5%;
  bottom: 10%;
  right: 25%;
  width: 30%;
  height: 80vh;
  box-shadow: 0px 0px 32px #ff6347;
  animation: morph 180s infinite;

}

@keyframes morph {
  0% { background-color: #ff9966; }
  10% { background-color: #9999ff; }
  20% { background-color:#cc66ff; }
  30% { background-color: #ff99ff; }
  40% { background-color: #ff9966; }
  50% { background-color: #99ff66; }
  60% { background-color: #66ff99; }
  70% { background-color: #33ccff; }
  90% { background-color: #0066ff; } 
  100% { background-color: #ff9966; }
  
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.modalContainer--info {
  display: none;
  top: 10%;
  bottom: 5%;
  right: 20%;
  width: 30%;
  height: 80vh;
  box-shadow: 0px 0px 32px #ff6347;
  animation: morph 180s infinite;
}

/* bandcamp modals*/

.modalContainer--uploadIThought {
  background-color: transparent;
  display: none;
  top: 15%;
  bottom: 5%;
  right: 15%;
  width: 30%;
  height: 80vh;
  /*border: -5px #ff6347;*/
  box-shadow: 0px 0px 32px #ff6347;

}

.modalContainer--uploadIIThoughts {
  background-color: transparent;
  display: none;
  top: 20%;
  bottom: 5%;
  right: 10%;
  width: 30%;
  height: 80vh;
  /*border: 5px #ff6347;*/
  box-shadow: 0px 0px 32px #ff6347;
}

/* march composites modals*/

.modalContainer--dancingTriangle {
  display:none;
  background-color: transparent;
  box-shadow: 0px 0px 32px #ff6347;
}

.dancingTrianglePlayer{
  visibility: hidden;
  height: 0px;
}

.modalContainer--hausaufgabe {
  background-color: transparent;
  /*box-shadow: 0px 0px 32px #ff6347;*/
}

.modalContainer--hausaufgabeInfo {
  display:none;
  top: 10%;
  bottom: 5%;
  right: 20%;
  width: 30%;
  height: 80vh;
  animation: morph 180s infinite;
  box-shadow: 0px 0px 32px #ff6347;
}

.modalContainer--marchComp3-6 {
  display:none;
  background-color: transparent;
  box-shadow: 0px 0px 32px #ff6347;
}

.comp3-6Player{
  visibility: hidden;
  height: 0px;
}

.modalContainer--marchComp3-8 {
  display:none;
  background-color: transparent;
  box-shadow: 0px 0px 32px #ff6347;
}
.modalContainer--marchComp3-18 {
  display:none;
  background-color: transparent;
  box-shadow: 0px 0px 32px #ff6347;
}
.modalContainer--marchComp3-31 {
  display:none;
  background-color: transparent;
  box-shadow: 0px 0px 32px #ff6347;
}
.modalContainer--mossComposite {
  display:none;
  background-color: transparent;
  box-shadow: 0px 0px 32px #ff6347;
}

/* photon playground modals*/

.modalContainer--photonPlayground {
  display:none;
  background-color: transparent;
  box-shadow: 0px 0px 32px #ff6347;
}

.modalHeader {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 4rem;
}

.modalHeader:hover {
  cursor: move;
}

.modalTitle {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.modalInnerContainer {
  flex-grow: 1;
  overflow-y: scroll;
  /*overflow-y: hidden; */
  padding: 0 1rem 1rem 1rem;
}

.modalContainer--resume .modalInnerContainer::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 4rem;
  background: linear-gradient(
    -180deg,
    rgba(234, 234, 234, 0) 0%,
    rgba(234, 234, 234, 1) 80%
  );
}

.modalInnerContainer iframe {
  position: relative;
  top: -1rem;
}

.modalText {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.modalText--italic {
  font-weight: bold;
  font-style: italic;
}

.modalText--link {
  text-decoration: underline;
  color: #000000;
}

.modalText--link:hover {
  font-style: italic;
}

.modalText--emailLink {
  text-decoration: underline;
  color: #000000;
  display: block;
}

.modalText--emailLink:hover {
  font-style: italic;
}

/* Aqua buttons */

.aquaButton {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  position: absolute;
  left: 1rem;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.aquaButton::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  top: 1px;
  z-index: 1;
  left: 15%;
  right: 15%;
  height: 60%;
  border-radius: 50%;
}

.aquaButton::before {
  content: "";
  position: absolute;
  background: #ffffff;
  bottom: 5%;
  left: 5%;
  right: 5%;
  height: 50%;
  border-radius: 9999px;
  filter: blur(6px);
  mix-blend-mode: overlay;
  z-index: 2;
}

.aquaButton:hover {
  transform: translateY(-2px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.aquaButton:active {
  transform: translateY(-1px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.aquaButton--resume {
  background: #0167cc;
}

.aquaButton--resume:hover {
  background: #2191ff;
}

.aquaButton--resume:active {
  background: #0b80f3;
}

.aquaButton--info {
  background: #04c204;
}

.aquaButton--info:hover {
  background: #12ee12;
}

.aquaButton--info:active {
  background: #06c506;
}

.aquaButton--hausaufgabeInfo {
  background: #04c204;
}

.aquaButton--hausaufgabeInfo:hover {
  background: #12ee12;
}

.aquaButton--hausaufgabeInfo:active {
  background: #06c506;
}

.aquaButton--uploadIThought {
  background: #04c204;
}

.aquaButton--uploadIThought:hover {
  background: #12ee12;
}

.aquaButton--uploadIThought:active {
  background: #06c506;
}

.aquaButton--uploadIIThoughts {
  background: #04c204;
}

.aquaButton--uploadIIThoughts:hover {
  background: #12ee12;
}

.aquaButton--uploadIIThoughts:active {
  background: #06c506;
}

.aquaButton--moss {
  background: #04c204;
}

.aquaButton--moss:hover {
  background: #12ee12;
}

.aquaButton--moss:active {
  background: #06c506;
}

/* For screens smaller than 640px */

@media only screen and (max-width: 640px) {
  .nav {
    right: 32px;
    left: 32px;
    display: flex;
    justify-content: space-between;
  }
  .innerContainer {
    width: 80%;
  }
  .modalContainer {
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    height: 90%;
    width: 90%;
    min-width: auto;
  }
}
