/* Main page styling */

* {
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
}

.mainContainer {
  /*border: 5px outset firebrick;*/
  background-color: ##e44644;
  background-image: url(assets/img/background.);
  background-repeat: round;
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Globe button base */

.globeButton {
  width: 178px;
  height: 48px;
}

.landBuoy {
  width: 48px;
  height: 48px; 
  display: flex;
  align-items: center;
  justify-content: center;   
}

.globeButton__icon {
  width: 100%;
  transform: rotate3d(0, 1, 0, 0deg);
  transition: 0.5s;
}

.landBuoy__icon {
  width: 100%;
  transform: rotate3d(0, 1, 0, 0deg);
  transition: 0.5s;
}

.globeButton:hover {
  cursor: pointer;
}

.landBuoy:hover {
  cursor: pointer;
}

.globeButton:hover .globeButton__icon {
  transform: rotate3d(0, 1, 0, 180deg);
}

.landBuoy:hover .landBuoy__icon {
  transform: rotate3d(0, 1, 0, 180deg);
}

/* Header and navigation */

.nav {
  /*border: 5px outset yellowgreen;*/
  position: fixed;
  right: 32px;
  top: 32px;
}

.globeButton--info {
  display: inline-block;
  margin: 8px;
}

.globeButton--resume {
  display: inline-block;
  margin: 8px;
}

.landBuoy--A1 {
  display: inline-block;
  margin: 8px;
}

.landBuoy--B1 {
  display: inline-block;
  margin: 8px;
}

/* land buoy containers */
.landBuoyContainer1{
  position: fixed;
  /*border: 5px outset wheat;*/
  width: 25%;
  right: 5px;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.landBuoyContainer2{
  /*border: 5px outset beige;*/
  width: 25%;
}

.landBuoyContainer3{
  
}

.landBuoyContainer4{
  
}

/* Channel selection toggles */

.innerContainer {
  /*border: 5px outset purple;*/
  width: 50%;
  position:  fixed;
}

.logoContainer {
  /*border: 5px outset yellowgreen;*/
  transition: opacity 1s;
  opacity: 1;
}

.logoContainer__inner {
  /*border: 5px outset blue;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8px;
}

.mainLogo {
  /*border: 5px outset red;*/
  width: 100%;
  align-items: center;
}

.mainLogo--active {
  animation-name: logoContainerFade;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}

@keyframes logoContainerFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.channelContainer {
  /*border: 5px outset hotpink;*/
  display: flex;
  justify-content: center;
}

.globeButton--channelOne {
  /*border: 5px outset orange;*/
  margin: 8px;
}

.globeButton--channelTwo {
  /*border: 5px outset goldenrod;*/
  margin: 8px;
}

.playerContainer1 {
  visibility: hidden;
  height: 0px;
}

.playerContainer2 {
  visibility: hidden;
  height: 0px;
}

/* Marquee text */

.marqueeContainer {
  /*border: 5px outset rebeccapurple;*/
  position: fixed;
  width: 100%;
  bottom: 1rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

.marqueeInnerContainer {
}

.marqueeText {
  text-transform: uppercase;
  font-style: italic;
  color:  greenyellow;
}

.marqueeIcon {
  display: inline;
  width: 24px;
  height: 24px;
  margin: 0 0.5rem;
  position: relative;
  bottom: -4px;
}

/* Modal styling */

.modalContainer {
  position: fixed;
  min-width: 400px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}

.modalContainer:hover {
}

.modalContainer[style*="display: block"] {
  display: flex !important;
}

.modalContainer--resume {
  display: none;
  top: 5%;
  bottom: 10%;
  right: 25%;
  width: 30%;
  height: 80vh;
  box-shadow: 0px 0px 32px #ff6347;
}

.modalContainer--info {
  display: none;
  top: 10%;
  bottom: 5%;
  right: 20%;
  width: 30%;
  height: 80vh;
  box-shadow: 0px 0px 32px #ff6347;
}

.modalContainer--landBuoyA1 {
  background-color: transparent;
  display: none;
  top: 15%;
  bottom: 5%;
  right: 15%;
  width: 30%;
  height: 80vh;
  /*border: -5px #ff6347;*/
  box-shadow: 0px 0px 32px #ff6347;

}

.modalContainer--landBuoyB1 {
  background-color: transparent;
  display: none;
  top: 20%;
  bottom: 5%;
  right: 10%;
  width: 30%;
  height: 80vh;
  /*border: 5px #ff6347;*/
  box-shadow: 0px 0px 32px #ff6347;
}

.modalHeader {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 4rem;
}

.modalHeader:hover {
  cursor: move;
}

.modalTitle {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.modalInnerContainer {
  flex-grow: 1;
  overflow-y: scroll;
  /*overflow-y: hidden; */
  padding: 0 1rem 1rem 1rem;
}

.landBuoyInnerContainer {
  border: 5px #ff6347;
  flex-grow: 1;
  /* overflow-y: scroll; */
  overflow-y: hidden; 
  padding: 0 1rem 1rem 1rem;
}


.modalContainer--resume .modalInnerContainer::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 4rem;
  background: linear-gradient(
    -180deg,
    rgba(234, 234, 234, 0) 0%,
    rgba(234, 234, 234, 1) 80%
  );
}

.modalInnerContainer iframe {
  position: relative;
  top: -1rem;
}

.modalText {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.modalText--italic {
  font-weight: bold;
  font-style: italic;
}

.modalText--link {
  text-decoration: underline;
  color: #000000;
}

.modalText--link:hover {
  font-style: italic;
}

.modalText--emailLink {
  text-decoration: underline;
  color: #000000;
  display: block;
}

.modalText--emailLink:hover {
  font-style: italic;
}

/* Aqua buttons */

.aquaButton {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  position: absolute;
  left: 1rem;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.aquaButton::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  top: 1px;
  z-index: 1;
  left: 15%;
  right: 15%;
  height: 60%;
  border-radius: 50%;
}

.aquaButton::before {
  content: "";
  position: absolute;
  background: #ffffff;
  bottom: 5%;
  left: 5%;
  right: 5%;
  height: 50%;
  border-radius: 9999px;
  filter: blur(6px);
  mix-blend-mode: overlay;
  z-index: 2;
}

.aquaButton:hover {
  transform: translateY(-2px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.aquaButton:active {
  transform: translateY(-1px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.aquaButton--resume {
  background: #0167cc;
}

.aquaButton--resume:hover {
  background: #2191ff;
}

.aquaButton--resume:active {
  background: #0b80f3;
}

.aquaButton--info {
  background: #04c204;
}

.aquaButton--info:hover {
  background: #12ee12;
}

.aquaButton--info:active {
  background: #06c506;
}

.aquaButton--landBuoyA1 {
  background: #04c204;
}

.aquaButton--landBuoyA1:hover {
  background: #12ee12;
}

.aquaButton--landBuoyA1:active {
  background: #06c506;
}

.aquaButton--landBuoyB1 {
  background: #04c204;
}

.aquaButton--landBuoyB1:hover {
  background: #12ee12;
}

.aquaButton--landBuoyB1:active {
  background: #06c506;
}

/* For screens smaller than 640px */

@media only screen and (max-width: 640px) {
  .nav {
    right: 32px;
    left: 32px;
    display: flex;
    justify-content: space-between;
  }
  .innerContainer {
    width: 80%;
  }
  .modalContainer {
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    height: 90%;
    width: 90%;
    min-width: auto;
  }
}

